/* stylelint-disable-next-line ignoreFiles */
@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background-color: var(--main-bg);
    min-height: 100vh;
}

.page-content {
    display: flex;
}

.page {
    padding: 20px;
    flex-grow: 1;
}
