/* stylelint-disable-next-line ignoreFiles */
@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/light';

.app {
    background-color: var(--main-bg);
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
}
.app_redesign {
    background-color: var(--bg-color);
    min-height: 100vh;
    font: var(--font-text);
    color: var(--text-color);
}

.page-content {
    display: flex;
}
