// .Text {}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.error {
    .title {
        color: var(--color-red-dark);
    }

    .text {
        font: var(--font-m);
        color: var(--color-red-light);
    }
}
