.Listbox {
    width: fit-content;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--light-bg-color);
    padding: 0 16px;
    &:focus {
        border-color: var(--accent-color);
    }
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.list {
    background-color: var(--dark-bg-color);
    position: absolute;
    min-width: 100%;
    border-radius: 8px;
    z-index: 10000000;
    overflow: hidden;
    outline: none;
    border-radius: 19px;
    border: 1px solid var(--accent-color);
}

.item {
    padding: 5px 10px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    gap: 2px;
    align-items: center;
}
