.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
}

.content {
    max-width: 60%;
    padding: 20px;
    border-radius: 30px;
    transition: transform 0.2;
    transform: scale(0.6);
    z-index: var(--modal-z-index);
}

.modalNew {
    .content {
        background-color: var(--light-bg-color);
    }
}
.modalOld {
    .content {
        background-color: var(--inverted-main-bg);
    }
}

.is_open {
    opacity: 1;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        transform: scale(1);
    }
}
