.SideBar {
    height: calc(100vh - var(--header-size));
    background-color: var(--inverted-main-bg);
    width: var(--sidebar-width);
    position: relative;
}

.toggle_btn {
    position: absolute;
    bottom: 32px;
    right: -32px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.items {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .items {
        gap: 20px;
    }
}
