.SideBar {
    height: calc(100vh - var(--header-size));
    background-color: var(--inverted-main-bg);
    width: var(--sidebar-width);
    position: relative;

    .toggle_btn {
        position: absolute;
        bottom: 32px;
        right: -32px;
    }

    .switchers {
        position: absolute;
        bottom: 20px;
    }

    .items {
        margin-top: 20px;
        margin-left: 10px;
    }

    .collapsed {
        width: var(--sidebar-width-collapsed);
    }
}

// redesign

.SideBar_redesigned {
    position: relative;
    background-color: var(--ligth-bg-color);
    max-height: 873px;
    height: 100%;
    border-radius: 32px;

    .appLogo {
        padding-top: 20px;
        padding-bottom: 42px;
    }

    .items_redesigned {
        flex: 1 1 100%;
    }

    .switchers_redesign {
        align-self: center;
        padding-bottom: 40px;
    }

    .arrow {
        position: absolute;
        top: calc(50% - 3px);
        right: 18px;
        transform: rotate(90deg);
    }

    &.collapsed {
        width: 50px;
        & .arrow {
            transform: rotate(270deg);
        }
    }
}
