.Input {
    width: 100%;
    padding: 0;
    color: var(--inverted-primary-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--disabled-color);
    font: var(--font-m);
    &::placeholder {
        color: var(--disabled-color);
    }
    &:focus {
        outline: none;
        border-bottom: 1px solid var(--inverted-primary-color);
    }
}