.input {
    flex-grow: 1;
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--disabled-color);
    font: var(--font-m);

    &::placeholder {
        color: var(--disabled-color);
    }

    &:focus {
        outline: none;
    }

    &.readonly {
        &:focus {
            border-bottom: none;
        }
    }

    &.primary {
        color: var(--primary-color);

        &:focus {
            border-bottom: 1px solid var(--primary-color);
        }
    }

    &.inverted {
        color: var(--inverted-primary-color);

        &:focus {
            border-bottom: 1px solid var(--inverted-primary-color);
        }
    }
}

.label {
    min-width: 10%;
    &.primary {
        color: var(--primary-color);
    }

    &.inverted {
        color: var(--inverted-primary-color);
    }
}

.error {
    border-bottom: 1px solid var(--color-red-dark);
    &.primary {
        &:focus {
            border-bottom: 1px solid var(--color-red-dark);
        }
    }
    &.inverted {
        &:focus {
            border-bottom: 1px solid var(--color-red-dark);
        }
    }
}

.errorText {
    height: 16px;
}

.errorActive {
    opacity: 1;
}
