.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input {
    flex-grow: 1;
    padding: 0;
    background-color: transparent;
    border: none;
    font: var(--font-m);

    &::placeholder {
        color: var(--disabled-color);
    }

    &:focus {
        outline: none;
    }

    &.readonly {
        &:focus {
            border-bottom: none;
        }
    }

    &.primary {
        color: var(--primary-color);

        &:focus {
            border-bottom: 1px solid var(--primary-color);
        }
    }

    &.secondary {
        color: var(--secondary-color);

        &:focus {
            border-bottom: 1px solid var(--secondary-color);
        }
    }
}

.label {
    .primary {
        color: var(--primary-color);
    }

    .secondary {
        color: var(--secondary-color);
    }
}

// .primary {
//     .label {

//     }
// }

// .secondary {
//     .label {
//         color: var(--secondary-color);
//     }

//     .input {

//     }
// }
