.SMALL {
    .card {
        width: 230px;
    }

    .info {
        margin-top: 8px;
    }

    .title {
        margin-top: 8px;
    }
}

.BIG {
    width: 100%;

    .card {
        margin-top: 20px;
    }

    .title,
    .types,
    .img,
    .text {
        margin-top: 8px;
    }

    .footer {
        margin-top: 10px;
    }
}
