.CustomListbox {
    width: fit-content;
    position: relative;
}

.button {
    padding: 0;
    border: none;
    margin: 0;
    background: none;

    :focus {
        border-color: var(--accent-color);
    }
}

.list {
    background-color: var(--primary-color);
    position: absolute;
    min-width: 100%;
    border-radius: 8px;
    z-index: 10000000;
    overflow: hidden;
    outline: none;
}

.item {
    padding: 5px 10px;
    color: var(--inverted-primary-color);
    cursor: pointer;
    display: flex;
    gap: 2px;
    align-items: center;

    & svg {
        width: 15px;
        height: 15px;
        fill: var(--inverted-primary-color);
    }
}

.active {
    background-color: var(--accent-color);
}

.disabled {
    color: var(--disabled-color);
}

.top {
    &Left {
        bottom: 100%;
        left: 0;
    }

    &Right {
        bottom: 100%;
        right: 0;
    }
}

.bottom {
    &Left {
        top: 100%;
        left: 0;
    }

    &Right {
        top: 100%;
        right: 0;
    }
}
