.ArticleList {
    display: flex;

    // justify-content: center;
    gap: 20px;
    margin-top: 20px;

    &.SMALL {
        flex-wrap: wrap;
    }

    &.BIG {
        flex-direction: column;
    }
}
