.ArticlesViewSelector {
    margin-bottom: 10px;

    .button {
        height: 20px;
    }

    .notSelected {
        fill-opacity: 30%;
    }
}

.ArticlesViewSelectorRedesigned {
    .button {
        color: var(--icon-color);
    }

    .notSelected {
        color: var(--light-bg-color);
    }
}
