.MainLayout {
    min-height: 100vh;
    // height: min-content;
    display: grid;
    grid-template-areas: 'sidebar content rigthbar';
    grid-template-columns: min-content 1fr 176px;
    gap: 24px;

    padding-left: 32px;
}

.sidebar {
    grid-area: sidebar;

    padding: 32px 0;

    position: sticky;
    top: 0;
}
.rightbar {
    grid-area: rigthbar;

    justify-self: end;
}
.header {
    width: 100%;
}
.content {
    grid-area: content;
    max-width: 1200px;
    width: 100%;
    justify-self: center;
}
.toolbar {
    width: 100%;
    height: calc(100% - 100px);
}

.sidebar,
.rightbar {
    position: sticky;
    top: 0;
    height: 100vh;
}
