.Drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    pointer-events: none;
}

.content {
    width: 100%;
    height: 60%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    z-index: 10000;
    overflow-y: auto;

    background-color: var(--inverted-main-bg);
    transform: translateY(100%);
}

.open {
    opacity: 1;
    pointer-events: all;

    .content {
        transform: translateY(0);
    }
}