.app_dark_theme {
    --main-bg: #0a72c1;
    --inverted-main-bg: #f4f8fb;
    --primary-color: #f4f8fb;
    --secondary-color: #c8e0f2;
    --inverted-primary-color: #0a72c1;
    --accent-color: #4ed297;
    --skeleton-light: #3082c1;
    --skeleton-dark: #226090;
    --code-bg: #0a69b1;
    --card-bg: #1669a9;
    // redesign
    --dark-bg-color: #090f11;
    --bg-color: #0c1214;
    --ligth-bg-color: #151c1f;
    --text-color: #dbdbdb;
    --hint-color: #555555;
    --cancel-color: #d95757;
    --save-color: #6cd98b;
    --icon-color: #74a2b2;
    --accent-color: #5ed3f3;
}
