.app_dark_theme {
    --main-bg: #0a72c1;
    --inverted-main-bg: #f4f8fb;
    --primary-color: #f4f8fb;
    --secondary-color: #c8e0f2;
    --inverted-primary-color: #0a72c1;
    --accent-color: #4ed297;
    --skeleton-light: #3082c1;
    --skeleton-dark: #226090;
    --code-bg: #0a69b1;
    --card-bg: #1669a9;
}
