.app_light_theme {
    --main-bg: #f4f8fb;
    --inverted-main-bg: #0a72c1;
    --primary-color: #0a72c1;
    --secondary-color: #089b79;
    --inverted-primary-color: #0a72c1;
    --skeleton-light: #c2cfd6;
    --skeleton-dark: #f0f3f5;
    --code-bg: #fcfcfc;
}
