.app.light {
  --main-bg: #7b7b7b;
  --inverted-main-bg: #030986;
  --primary-color: #0523b8;
  --secondary-color: #031882;
  --inverted-primary-color: #0dbe3f;
  --inverted-secondary-color: #0d9634;
}
