.circle {
    margin: 0 auto 35px;
}

.title {
    margin-bottom: 15px;
}

.subtitle,
.rect {
    margin-bottom: 28px;
}

.avatarWrapper {
    margin-bottom: 45px;
}

.avatar {
    width: 200px;
    height: 200px;
}

.block {
    margin-top: 20px;
}

// redesigned

.image {
    width: 100%;
    height: 420px;
}
