// .ArticleDetails {}

.circle {
    margin: 0 auto 35px;
}

.title {
    margin-bottom: 15px;
}

.subtitle,
.rect {
    margin-bottom: 28px;
}


.avatarWrapper {
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.avatar {
    width: 200px;
    height: 200px;
}

.info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.icon {
    fill: var(--primary-color);
}

.block {
    margin-top: 20px;
}