.Button {
    padding: 6px 15px;
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--icon-color);

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.borderRadius {
    border-radius: 16px;
}

.outlined {
    background-color: transparent;
    &:hover {
        border-color: var(--accent-color);
        box-shadow: 0px 3px 10px 0px rgba(16, 55, 163, 0.6);
    }
}

.success {
    background-color: transparent;
    border-color: var(--save-color);
}
.cancel {
    background-color: transparent;
    border-color: var(--cancel-color);
}
.filled {
    background-color: var(--light-bg-color);
    border: none;
    padding: 6px 0;
}

.max {
    width: 100%;
}
