.Dropdown {
    position: relative;
}

.btn {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.list {
    position: absolute;
    z-index: 100000;
    min-width: 100%;
    border: 1px solid (--inverted-primary-color);
    border-radius: var(--border-radius-m);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    outline: none;
}

.item {
    margin: 0;
    padding: 10px;
    border: none;
    background: transparent;
    color: var(--inverted-primary-color);
    border-bottom: 1px solid var(--inverted-primary-color);
    cursor: pointer;
}

.active {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.topLeft {
    bottom: 100%;
    left: 0;
}

.topRight {
    bottom: 100%;
    right: 0;
}

.bottomLeft {
    top: 100%;
    left: 0;
}

.bottomRight {
    top: 100%;
    right: 0;
}
