.NavBar {
    padding: 20px;
    height: var(--header-size);
    background-color: var(--inverted-main-bg);
}

.links {
    margin-left: auto;
    color: var(--inverted-primary-color);
}

// redesign

.NavBar_redesign {
    width: 100%;
    padding: 16px 16px 0 0;
}
