@keyframes skeleton-loading {
    0% {
        background-color: var(--light-bg-color);
    }

    100% {
        background-color: var(--dark-bg-color);
    }
}

.Skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}
